<div class="row">
  <div class="span4 highlight text-center">
    <h4>Location</h4>
    <p>Our Location Address</p>
  </div>
  <div class="span4 highlight text-center">
	<h4>Email</h4>
    <p>test@email.com</p>
  </div>
  <div class="span4 highlight text-center">
	<h4>Contact</h4>
	<p>+91 12345 678 99</p>
  </div>	
</div>
<div><br/></div>
<div class="hero-unit">	
<p>Please fill out the details and we'll get back to you at the earliest. Thank you!</p>
 
<%= render 'form', :contact => @contact %>
</div>
